@font-face {
  font-family: 'Gill Sans MT';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arial Rounded";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Segoe Script";
  font-style: normal;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gill Sans MT";
  color: #222222;
  margin: 0;
  padding: 0;
}

a {
  color: #E5E5E5;
  text-decoration: none;
}

a:hover {
  color: #d39c04;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gill Sans MT";
}

.header {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(4, 83, 119, 0.926);
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid #E5E5E5;
}

.header li {
  color: #d39c04;
}

.header li:hover {
  color: white;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header.header-scrolled {
  border-color: #E5E5E5;
  -webkit-box-shadow: 0px 2px 15px #045277;
          box-shadow: 0px 2px 15px #045277;
}

img {
  width: 100px;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li,
.navbar li:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 15px;
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar li i, #navbar li:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.mobile-nav-toggle {
  color: #d39c04;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-nav-toggle.bi-x {
  color: #d39c04;
}

@media (max-width: 1030px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #E5E5E5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #E5E5E5;
  overflow-y: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-mobile li {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
  color: #d39c04;
}

.navbar-mobile li:hover,
.navbar-mobile .active {
  color: #045277;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: url("../cover3.jpg") top center;
  background-size: cover;
  position: relative;
}

.hero .container {
  padding-top: 80px;
}

/*
.bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;

    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;

    &--one {
        animation-duration: 1s;
        animation-delay: -0.5s;
    }

    &--two {
        animation-duration: 0.9s;
        animation-delay: -0.75s;
    }

    &--three {
        animation-duration: 1.25s;
        animation-delay: -0.25s;
    }
}

.bird-container {
    position: absolute;
    top: 20%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;

    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &--one {
        animation-duration: 15s;
        animation-delay: 0;
    }

    &--two {
        animation-duration: 16s;
        animation-delay: 1s;
    }

    &--three {
        animation-duration: 14.6s;
        animation-delay: 9.5s;
    }
}

@keyframes fly-cycle {

    100% {
        background-position: -900px 0;
    }

}

@keyframes fly-right-one {

    0% {
        transform: scale(0.3) translateX(-10vw);
    }

    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }

    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }

    40% {
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }

    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

}

@keyframes fly-right-two {

    0% {
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }

    10% {
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }

    30% {
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }

    40% {
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.45);
    }

    51% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

}

@keyframes fly-right-three {

    0% {
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }

    10% {
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }

    30% {
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }

    40% {
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.45);
    }

    51% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

}
 */
.hero h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  color: #045277;
  font-family: "Gill Sans MT";
}

.hero em {
  font-family: "Segoe Script";
}

.hero h2 {
  color: #7E7F7F;
  margin: 10px 0 0 0;
  font-size: 22px;
}

.hero .icon-boxes {
  margin-top: 100px;
  margin-left: 100px;
}

.hero .icon-box {
  padding: 15px 20px;
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 0 39px 0 rgba(18, 66, 101, 0.08);
          box-shadow: 0 0 39px 0 rgba(18, 66, 101, 0.08);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  z-index: 1;
}

.hero img {
  width: 160px;
}

.hero .icon-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-height: 800px) {
  .hero {
    height: auto;
  }
}

@media (max-width: 992px) {
  .hero {
    height: auto;
  }
  .hero h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .hero h2 {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (max-device-width: 500px) {
  .hero .icon-boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding-right: 100px;
  }
  .hero img {
    max-width: 72px;
  }
}

section {
  padding: 80px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #045277;
}

.section-title p {
  margin-bottom: 0;
  font-size: 15px;
  color: #7E7F7F;
}

.container-1 {
  padding-left: 100px;
}

.about .icon-box1 {
  padding: 70px 20px 80px 20px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: #ee6d23;
  -webkit-box-shadow: 0px 15px 90px 0px rgba(110, 123, 131, 0.05);
          box-shadow: 0px 15px 90px 0px rgba(110, 123, 131, 0.05);
  border-radius: 0 0 12px 12px;
}

.about .icon-box2 {
  text-align: center;
  padding: 70px 20px 80px 20px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: #82c341;
  -webkit-box-shadow: 0px 15px 90px 0px rgba(110, 123, 131, 0.05);
          box-shadow: 0px 15px 90px 0px rgba(110, 123, 131, 0.05);
  border-radius: 0 0 12px 12px;
}

.about .icon-box3 {
  padding: 70px 20px 80px 20px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: #ef3c23;
  -webkit-box-shadow: 0px 15px 90px 0px rgba(110, 123, 131, 0.05);
          box-shadow: 0px 15px 90px 0px rgba(110, 123, 131, 0.05);
  border-radius: 0 0 12px 12px;
}

.about .icon-box1 .icon,
.about .icon-box2 .icon,
.about .icon-box3 .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  position: relative;
}

@media (max-device-width: 500px) {
  .about .icon-box1 .icon,
  .about .icon-box2 .icon,
  .about .icon-box3 .icon {
    max-width: 70px;
  }
}

.about .icon-box1 .icon:hover,
.about .icon-box2 .icon:hover,
.about .icon-box3 .icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about .icon-box1:hover {
  border-color: #222222;
  -webkit-box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.about .icon-box2:hover {
  border-color: #222222;
  -webkit-box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.about .icon-box3:hover {
  border-color: #222222;
  -webkit-box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

@media (max-device-width: 500px) {
  .about img {
    max-width: 80px;
  }
}

.contact iframe {
  border: 0;
  width: 100%;
  height: 270px;
}

.contact .info {
  width: 100%;
  background: url(../contact-us.jpg);
  border-radius: 10px;
}

.contact .info i {
  font-size: 20px;
  color: #045277;
  float: left;
  width: 44px;
  height: 44px;
  background: #d39c04;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #045277;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #201b0b;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #c9a131;
  color: white;
}

.contact .contact-form {
  width: 100%;
  background: white;
}

.contact .contact-form .form-group {
  padding-bottom: 8px;
}

.contact .contact-form .form-group #not-mail {
  display: none;
  position: absolute;
  top: 4px;
  color: #ff4d4d;
  right: 0;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes dongle {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  20% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  30% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  40% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  60% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  70% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  80% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  90% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes dongle {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  10% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  20% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  30% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  40% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  60% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  70% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  80% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }
  90% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.contact .contact-form input,
.contact .contact-form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .contact-form input:focus,
.contact .contact-form textarea:focus {
  border-color: #045277;
}

.contact .contact-form input {
  height: 44px;
}

.contact .contact-form textarea {
  padding: 10px 12px;
}

.contact .contact-form .button {
  background: #d39c04;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .contact-form .button:hover {
  background: #c9a131;
}

@-webkit-keyframes animates-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animates-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio .portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
  color: rgba(4, 83, 119, 0.926);
}

.portfolio .portfolio-filters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(36, 135, 206, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

.team {
  background-color: #d39c04;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 15px #d39c04;
          box-shadow: 0px 2px 15px #d39c04;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .member-img img {
  width: 390px;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .member .social a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #d39c04;
  margin: 0 10px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #c9a131;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 30px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #045277;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #BBBCBC;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
}

.footer {
  color: #222222;
  font-size: 14px;
  background: #f8fbfe;
  -webkit-box-shadow: 0 2px 15px rgba(18, 66, 101, 0.08);
          box-shadow: 0 2px 15px rgba(18, 66, 101, 0.08);
}

.footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

.footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

.footer .footer-top .footer-contact h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  color: #045277;
}

.footer .footer-top .footer-contact em {
  font-family: "Segoe Script";
}

.footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #222222;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: rgba(4, 83, 119, 0.926);
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d39c04;
  font-size: 18px;
  line-height: 1;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul .aaa {
  color: #7E7F7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul .aaa:hover {
  text-decoration: none;
  color: #d39c04;
}

.footer .footer-newsletter {
  font-size: 15px;
}

.footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #5ab2f1;
}

.footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100%);
}

.footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #045277;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.footer .footer-newsletter form input[type="submit"]:hover {
  background: rgba(4, 83, 119, 0.926);
}

.footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #222222;
}

.footer .social-links .aaa {
  font-size: 18px;
  display: inline-block;
  background: rgba(4, 83, 119, 0.926);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .social-links .aaa:hover {
  background: #045277;
  color: #fff;
  text-decoration: none;
}

/*
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

.preloader::before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid $bleu;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
*/
/*# sourceMappingURL=index.css.map */