.team {
    background-color: $jaune;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 15px $jaune;
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .member-img img {
    width: 390px;
}

.team .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255,255,255, 0.85);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.team .member .social a {
    transition: color 0.3s;
    color: $jaune;
    margin: 0 10px;
    display: inline-block;
}

.team .member .social a:hover {
    color: $jaune-2;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
    line-height: 0;
}

.team .member .member-info {
    padding: 25px 30px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: $bleu;
}

.team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: $color-2;
}

.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.team .member:hover .social {
    opacity: 1;
}